<div class="d-flex input-group justify-content-center">
    <div class="input-group-prepend w-65">
        <span class="input-group-text w-100">@PrependText</span>
    </div>
    <input type="text" class="form-control" @bind="Value" minlength="@MinLength" maxlength="@MaxLength" disabled="@Disabled" required="@Required" />
</div>


@code {
    private string _value;

    [Parameter]
    public string Value
    {
        get => _value;
        set
        {
            if (_value == value) return;
            _value = value;
            ValueChanged.InvokeAsync(_value);
        }
    }

    [Parameter]
    public EventCallback<string?> ValueChanged { get; set; }

    [Parameter]
    public string PrependText { get; set; } = string.Empty;

    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public bool Required { get; set; } = false;

    [Parameter]
    public string MinLength { get; set; } = string.Empty;

    [Parameter]
    public string MaxLength { get; set; } = string.Empty;
}