@page "/blog"

@inject BlogService _blogService
@inject NavigationManager _navManager

<PageTitle>Blog</PageTitle>

<div class="container-sm">

    @if (posts == null)
    {
        <p>Fetching data from GitHub...</p>
    }
    else
    {
        foreach (var post in posts)
        {
            <div class="post-box" @onclick="@(() => _navManager.NavigateTo("/blogpost/" + post.Id))">
                <div class="d-flex justify-content-center mt-3">
                    <h5>@post.Title</h5>
                </div>
                <div class="d-flex justify-content-center">
                    <h6>@post.Description</h6>
                </div>
                <div class="d-flex justify-content-between fs08 mt-2">
                    <p class="px-5">Category: @post.Category</p>
                    <p class="px-5">@post.Hashtags</p>
                    <p class="px-5">@post.Date</p>
                </div>
            </div>
        }
    }

</div>

@code {
    List<BlogPost>? posts = null;

    protected override async Task OnInitializedAsync()
    {
        await LoadPosts();
    }

    private async Task LoadPosts()
    {
        try
        {
            posts = await _blogService.GetPostsAsync("Posts/BlazorSeries");
            posts = posts?.OrderByDescending(o => o.Date).ToList();

            Console.WriteLine($"Posts loaded, count: {posts?.Count}");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
